.buttons {
  .container {
    .buttons-container {
      height: 160px;
      width: 300px;
      margin-left: 70rem;
      text-align: center;
      align-items: center;
      .button {
        display:flex;
        gap: 2rem;
        align-items: center;
        justify-content: center;
        color: var(--accent-color1);
        width:  112px;
        height: 100px;
      }
    }
  }
}
