.card {
  width: max-content;
  &-image {
    img {
      background-color: var(--accent-color4);
    }
  }
  &-content {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: var(--accent-color4);
    .card-heading {
      display: flex;
      justify-content: space-between;
      .card-series {
        color: var(--orange);
        text-transform: uppercase;
        font-size: 1.8rem;
      }
    }
    .card-sub-details {
      display: flex;
      justify-content: space-between;
      span {
        color: var(--accent-color3);
        font-size: 1.4rem;
      }
    }
  }
}
