.menu-container {
    height: 4rem;
    width: 160rem;
    background: black;
    display: flex;
    justify-content: right;
    align-items: center;
    .menu-links {
        font-size: 30px;
        color: yellow;
        display: flex;
        font-weight: bold;
        margin-right: 1rem;
        gap: 5rem;
        a {
            all: unset;
        }
    }
}

